In [1]:
t1=(1,2,3)
print(t1)

(1, 2, 3)

In [2]:
t2=(1,2,"hello",3,4,5.5)
print(t2)

(1, 2, 'hello', 3, 4, 5.5)

In [3]:
t=(5,6,7,8,9,10)
print(t)
t=5,
print(t)

(5, 6, 7, 8, 9, 10)
(5,)

In [4]:
t1=(1,2,3)
t2,t3,t4=t1
t3=5
t1=(t2,t3,t4)
print(t1)

(1, 5, 3)

In [6]:
t=(10,20,30,40,50)
t=t+(60,)
print(t)
l=list(t)
l.append(70)
t=tuple(l)
print(t)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 70)

In [9]:
tup=('p','y','t','h','o','n')
str= ''.join(tup)
print(str)

python

In [10]:
a=['cat','dog','fish']
print(a)
t1=tuple(a)
print(t1)

['cat', 'dog', 'fish']
('cat', 'dog', 'fish')

In [11]:
a=(10,20,30,40,50)
print(len(a))

5